project_id = "ngqymbjatenxztrjjdxa"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_schemas = []
max_rows = 1000

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true
port = 54325

[auth]
enabled = true
port = 54326

[edge_functions]
enabled = true
port = 54327

[functions.send-contact-message]
verify_jwt = false

[functions.create-admin-user]
verify_jwt = true